<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <h1>Login</h1>

    <form action="/login" method="POST">
        {{ form.hidden_tag() }}

        {{ form.email.label }}
        {{ form.email }}

        {% for error in form.email.errors %}
            <p style="color:red;">{{ error }}</p>
        {% endfor %}

        {{ form.password.label }}
        {{ form.password }}

        {% for error in form.password.errors %}
            <p style="color:red;">{{ error }}</p>
        {% endfor %}

        <button type="submit">Login</button>

    </form>

</body>
</html>