body{
    font-family: Arial, sans-serif;
    width: 400px;
    margin: 50px auto;
}

h1{
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
}

input{
    padding: 10px;
    margin-bottom: 15px;
}

button{
    padding: 10px;
    cursor: pointer;
}